### Importing libraries that will be useful :-

In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
import scipy
from scipy import stats

# Question 2 solution :

##### Reading population data of males and females from 'DDW_PCA0000_2011_Indiastatedist.xlsx' file which was given in Assignment 1

In [13]:
population_data = pd.read_excel('DDW_PCA0000_2011_Indiastatedist.xlsx',usecols=['Level','Name','TRU','TOT_M','TOT_F'])
population_data_Total = population_data.loc[(population_data['TRU'] == 'Total') & (population_data['Level'] == 'STATE')]
population_data_Total = population_data_Total.reset_index()
population_data_Total = population_data_Total.drop(columns=["index","Level","TRU"])
population_data_Total.loc[len(population_data_Total.index)] = ['INDIA', 623270258, 587584719]
# overall_data = pd.DataFrame(columns=["Name","TOT_P"])
# overall_data['Name'] = ['1_INDIA']
# overall_data['TOT_P'] = population_data_Total['TOT_P'].sum()
# population_data_Total = population_data_Total.append(overall_data, ignore_index=True)

''' This we have done to add overall population i.e India's in the dataframe '''

# population_data_Total = population_data_Total.sort_values('Name',ignore_index=True)
# with pd.option_context('display.max_rows', None,'display.max_columns', None,'display.precision', 4,):
#     print(population_data_Total)
population_data_Total.head()

                        Name     TOT_M     TOT_F
0  ANDAMAN & NICOBAR ISLANDS    202871    177710
1             ANDHRA PRADESH  42442146  42138631
2          ARUNACHAL PRADESH    713912    669815
3                      ASSAM  15939443  15266133
4                      BIHAR  54278157  49821295

##### Reading language data from 'DDW-C18-0000.xlsx' file which is mentioned in Assignment 2

In [16]:
Language_data= pd.read_excel('DDW-C18-0000.xlsx',usecols=['Unnamed: 0','Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 6','Unnamed: 7','Unnamed: 9','Unnamed: 10'])
Language_data.rename(columns = {'Unnamed: 0':'Code','Unnamed: 2':'Name','Unnamed: 3':'TRU','Unnamed: 4':'Age_group',
                                'Unnamed: 6':'Males speaking 2 or more languaguages',
                                'Unnamed: 7':'Females speaking 2 or more languaguages',
                                'Unnamed: 9':'Males speaking 3 or more languaguages',
                                'Unnamed: 10':'Females speaking 3 or more languaguages',}, inplace = True)

Language_data = Language_data.drop(Language_data.index[[0,1,2,3,4]])
Language_data = Language_data.loc[(Language_data['TRU'] == 'Total') & (Language_data['Age_group'] == 'Total')]
Language_data = Language_data.reset_index()
Language_data = Language_data.drop(columns=["index","TRU","Age_group"])
Language_data = Language_data.sort_values('Code',ignore_index=True)
Language_data["Code"] = Language_data["Code"].astype(int)
Language_data.head(5)

,Code,Name,Males speaking 2 or more languaguages,Females speaking 2 or more languaguages,Males speaking 3 or more languaguages,Females speaking 3 or more languaguages
0,0,INDIA,176696383,138292387,50536832,35472748
1,1,JAMMU & KASHMIR,3634819,2548371,1258756,837464
2,2,HIMACHAL PRADESH,683966,558739,200478,146808
3,3,PUNJAB,7284183,5751041,4383841,3446072
4,4,CHANDIGARH,322898,257022,178557,143422

In [19]:
Processed_data = pd.merge(population_data_Total,Language_data,left_on = 'Name', right_on = 'Name')

# Processed_data['TOT_A'] = Processed_data['TOT_P'] - Processed_data['People_speaking_2_languaguages']
# Processed_data['People_speaking_2_languaguages'] -= Processed_data['People_speaking_3_languaguages']
# Processed_data.rename(columns = {'TOT_A':'No_PSE_1_language',
#                                  'People_speaking_2_languaguages':'No_PSE_2_language',
#                                 'People_speaking_3_languaguages':'No_PSE_3_language'}, inplace = True)
''' 
    No.PSE means Number of People Speaking Exactly
'''
# Processed_data.iat[0,0] = 'INDIA'
# Processed_data = Processed_data[['Name','TOT_P','No_PSE_1_language','No_PSE_2_language','No_PSE_3_language']]
Processed_data = Processed_data.sort_values('Code',ignore_index=True)
Processed_data.head(5)

,Name,TOT_M,TOT_F,Code,Males speaking 2 or more languaguages,Females speaking 2 or more languaguages,Males speaking 3 or more languaguages,Females speaking 3 or more languaguages
0,INDIA,623270258,587584719,0,176696383,138292387,50536832,35472748
1,JAMMU & KASHMIR,6640662,5900640,1,3634819,2548371,1258756,837464
2,HIMACHAL PRADESH,3481873,3382729,2,683966,558739,200478,146808
3,PUNJAB,14639465,13103873,3,7284183,5751041,4383841,3446072
4,CHANDIGARH,580663,474787,4,322898,257022,178557,143422

In [26]:
Processed_Data = Processed_data.copy()

Processed_Data['Percentage male speaking only 1 language'] = ((Processed_Data['TOT_M'] - Processed_Data['Males speaking 2 or more languaguages']) / Processed_Data['TOT_M']) * 100
Processed_Data['Percentage male speaking exactly 2 language'] = ((Processed_Data['Males speaking 2 or more languaguages'] - Processed_Data['Males speaking 3 or more languaguages']) / Processed_Data['TOT_M']) * 100
Processed_Data['Percentage male speaking 3 or more languaguages'] = ((Processed_Data['Males speaking 3 or more languaguages']) / Processed_Data['TOT_M']) * 100

Processed_Data['Percentage female speaking only 1 language'] = ((Processed_Data['TOT_F'] - Processed_Data['Females speaking 2 or more languaguages']) / Processed_Data['TOT_F']) * 100
Processed_Data['Percentage female speaking exactly 2 language'] = ((Processed_Data['Females speaking 2 or more languaguages'] - Processed_Data['Females speaking 3 or more languaguages']) / Processed_Data['TOT_F']) * 100
Processed_Data['Percentage female speaking 3 or more languaguages'] = (Processed_Data['Females speaking 3 or more languaguages'] / Processed_Data['TOT_F']) * 100

Processed_Data['ratio_1'] = (Processed_Data['TOT_M']-Processed_Data['Males speaking 2 or more languaguages'])/(Processed_Data['TOT_F']-Processed_Data['Females speaking 2 or more languaguages'])
Processed_Data['ratio_2'] = (Processed_Data['Males speaking 2 or more languaguages'] - Processed_Data['Males speaking 3 or more languaguages'])/(Processed_Data['Females speaking 2 or more languaguages']-Processed_Data['Females speaking 3 or more languaguages'])
Processed_Data['ratio_3'] = Processed_Data['Males speaking 3 or more languaguages']/Processed_Data['Females speaking 3 or more languaguages']
Processed_Data['ratio_pop'] = Processed_Data['TOT_M'] / Processed_Data['TOT_F']

Processed_Data['p-value'] = Processed_Data.apply(lambda row: scipy.stats.ttest_1samp([row.ratio_1, row.ratio_2, row.ratio_3], popmean=row.ratio_pop)[1], axis=1)

Processed_Data = Processed_Data[['Code','Name','Percentage male speaking only 1 language','Percentage male speaking exactly 2 language', 
                                 'Percentage male speaking 3 or more languaguages','Percentage female speaking only 1 language', 
                                 'Percentage female speaking exactly 2 language','Percentage female speaking 3 or more languaguages','p-value']]
                                                                       
Processed_Data.head()

,Code,Name,Percentage male speaking only 1 language,Percentage male speaking exactly 2 language,Percentage male speaking 3 or more languaguages,Percentage female speaking only 1 language,Percentage female speaking exactly 2 language,Percentage female speaking 3 or more languaguages,p-value
0,0,INDIA,71.650118,20.241548,8.108334,76.464264,17.498692,6.037044,0.340433
1,1,JAMMU & KASHMIR,45.264207,35.780514,18.955279,56.811956,28.995278,14.192766,0.537034
2,2,HIMACHAL PRADESH,80.356377,13.88586,5.757763,83.482596,12.177476,4.339928,0.306330
3,3,PUNJAB,50.242833,19.811803,29.945363,56.111899,17.589983,26.298118,0.568812
4,4,CHANDIGARH,44.391497,24.857964,30.750539,45.86583,23.926519,30.207651,0.733277

In [27]:
pre_final_1 = Processed_Data[['Code','Name','Percentage male speaking only 1 language','Percentage female speaking only 1 language','p-value']].copy()
pre_final_2 = Processed_Data[['Code','Name','Percentage male speaking exactly 2 language','Percentage female speaking exactly 2 language','p-value']].copy()
pre_final_3 = Processed_Data[['Code','Name','Percentage male speaking 3 or more languaguages','Percentage female speaking 3 or more languaguages','p-value']].copy()

pre_final_1.columns=['State_code','Name','male-percentage','female-percentage','p-value']
pre_final_2.columns=['State_code','Name','male-percentage','female-percentage','p-value']
pre_final_3.columns=['State_code','Name','male-percentage','female-percentage','p-value']

pre_final_1.to_csv('gender-india-a.csv')
pre_final_2.to_csv('gender-india-b.csv')
pre_final_3.to_csv('gender-india-c.csv')

## Q2 Completed..:)